@tailwind base;
@tailwind components;
@tailwind utilities;


.numInput{
    color: #121317 !important;
}
.dark .tox-editor-container{
    background-color: rgba(36, 38, 45, var(--tw-bg-opacity)) !important;
    color: white !important;
}
.swiper-button-disabled{
    display:none;
}
.selection-bg ::selection {
    background-color: #79ffe1;
}

.dark .selection-bg ::selection {
        background-color: #f81ce5;
        color: white;
}

.bg-green-ndpe{
    background-color: #22361b;
}
.bg-update-ndpe{
    background-color: #121b0f;
}
.triangle-ndpe{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 21px 24px 21px;
    border-color: transparent transparent #22361b transparent;
}
.border-green-ndpe{
    border-color: #22361b;
}

.border-green-ndpe-2{
    border-color: #121b0f;
}

.bg-brown-ndpe{
    background-color: #e2e0d7;
}

.text-brown-ndpe{
    color: #e2e0d7;
}
.text-ndpe-2{
    color: #121b0f;
}
.text-ndpe{
    color:#22361b;
}

.text-more{
    color: #33a635;
}

.bg-more{
    background-color: #33a635;
}

.bg-article-ndpe{
    background-color: #a7aea4;
}

.bg-border-ndpe{
    background-color: #7e1a20;
}

.text-tag{
    color: #7e1a20;
}

.border-ndpe{
    border-color: #22361b;
}

.text-xss{
    font-size: 10px;
    line-height: 15px;
}

.bg-ndpe-profile{
    background-color: #43533e;
}





