@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-green-ndpe{
    background-color: #22361b;
}
.bg-update-ndpe{
    background-color: #121b0f;
}
.triangle-ndpe{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 21px 24px 21px;
    border-color: transparent transparent #22361b transparent;
}
.border-green-ndpe{
    border-color: #22361b;
}

.bg-brown-ndpe{
    background-color: #e2e0d7;
}

.text-ndpe{
    color:#22361b;
}

.text-more{
    color: #33a635;
}

.bg-more{
    background-color: #33a635;
}

.bg-article-ndpe{
    background-color: #a7aea4;
}

.bg-border-ndpe{
    background-color: #7e1a20;
}

.border-ndpe{
    border-color: #22361b;
}

.text-xss{
    font-size: 10px;
    line-height: 15px;
}

.bg-ndpe-profile{
    background-color: #43533e;
}



.hero-image::after {
    display: block;
    position: absolute;
    background-image: linear-gradient(#192316, #192316, #192316);
    background-color: #192316;
    background-blend-mode:multiply;
    opacity: 0.8;
    bottom: 0;
    left:0;
    right:0;
    height: 100vh;
    width: 100%;
    content: '';
  }


